/*Make parent element a flex container */
ul{
	display: flex; /* or inline-flex*/
	list-style: none;
	/*flex-direction: row;
	flex-wrap: wrap;*/
	
	flex-flow: wrap row;

}

li{
	width: 100px;
	height: 100px;
	background-color: #8cacea;
	margin: 8px;
}

