/*Make parent element a flex container */
ul{
	display: flex; /* or inline-flex*/
	list-style: none;
	/*flex-direction: row;
	flex-wrap: wrap;*/
	
	flex-flow: wrap row;

	justify-content: center;
	
	align-items: flex-start;

}

li{
	width: 100px;
	
	background-color: #8cacea;
	margin: 8px;
}

li:not(:first-child){
	font-size: 2rem;
}

